.container {
    display: flex;
}

fieldset {
    border-radius: 2px;
}

.fieldset-1 {
    width: 50%;
    text-align: center;
}

.fieldset-2 {
    width: 50%;
}

.card {
    margin-right: 60px;
    margin-left: 60px;
    border: 1px solid black;
    border-radius: 15px;
    margin-bottom: 30px;
    display: inline-block;
    width: 330px;
    cursor: pointer;
    transition: 100ms;
}

.card div {
    display: flex;
    justify-content: center;
}

.amount {
    float: right;
    margin-right: 80px;
}

.ingredient {
    font-size: 26px;
}

.line {
    border-top: 2px solid slategrey;
}

.price {
    font-size: 22px;
    font-weight: 600;
}

.remove {
    padding: 10px;
    cursor: pointer;
    float: right;
    margin-top: 10px;
    transition: 100ms;
}

.remove:hover {
    transform: scale(1.1);
}

.ingredientImg {
    margin-top: 8px;
    margin-left: 20px;
}

.card:hover {
    transform: scale(1.1);
}

.card:active{
    transform: scale(0.9);
}
